

.div-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

::ng-deep .p-button {
    background-color: #EC0016 !important;
    border-color: #EC0016 !important;
    color: #FFFFFF !important; 
        
    
}
p-button:first-child {
    margin-right: 10px;
}


.tables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.lists {
    margin-top: 11%;
    
}

.navi {}

.start {
    margin-bottom: 5%;
}

.startlocation, .circle-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.endlocation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
  
.circle-container {
    position: relative;
    display: inline-block;
    
}
  
.big-circle {
    font-size: 1rem;
}
  
.small-circle {
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
  