<h2>DB Fahrplananzeige</h2>

<div class="div1 div-container">
    <p-button label="von Frankfurt" class="buttons" styleClass="p-button-raised p-button-sm" (click)="filterTrips('Frankfurt Hbf', 'from')"></p-button>
    <p-button label="nach Frankfurt" class="buttons" styleClass="p-button-raised p-button-sm" (click)="filterTrips('Frankfurt Hbf', 'to')"></p-button>
</div>

<div class="lists">
  <nav class="navi" *ngFor="let trip of filteredTrips">

    <div class="start">
      <span class="startlocation">
        <span class="startlocation-name">{{ trip.from }}</span>
        <span class="pi pi-circle big-circle"></span>
        <span class="starttime">{{ trip.starttime }}</span>
      </span>
    </div>

    <div class="dauer">25</div>

    <div class="end">
      <span class="endlocation">
        <span class="endlocation-name">{{ trip.to }}</span>
        <span class="pi pi-circle big-circle"></span>
        <span class="endtime">{{ trip.endtime }}</span>
      </span>
    </div>

  </nav>
</div>

